
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EmployeeLayout1.cshtml";
}
@model List<DotNetMVCBasics.Models.Employee>
<h2>Index</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td>@item.Salary</td>
        </tr>
    }

</table>

