
@{
    ViewBag.Title = "UpdateEmployee";
    Layout = "~/Views/Shared/EmployeeLayout1.cshtml";
}

<h2>UpdateEmployee</h2>
@using (Html.BeginForm("UpdateEmployee", "Employee", FormMethod.Post, new { @enctype = "mulitpart/form-data" }))
{
    @Html.Partial("~/Views/Employee/Partial/EmployeeForm.cshtml")
}
